<h1>To-Do Items</h1>

<% @items.each do |item| %>
	<h2><%= item.name %></h2>
	<h3><%= item.description %></h3>
	<h3><%= item.priority %></h3>
	<%= link_to 'View Item', item_path(item) %>
	<%= link_to 'Edit Item', edit_item_path(item) %>
	<%= link_to 'Delete Item', item, method: :delete %>
<% end %>

<p><%= link_to 'View Completed Items', completed_path %></p>